{% extends "layout.html" %}

{% block page_header %}
About
{% endblock page_header %}
{% block content %}
<h4 class="h1b12">The main goal of the society is to work towards the prevention and eradication of Cardiovascular Diseases (CVD) and the subsequent mortality rate. Our motto is to create awareness among people about the causes and the impacts of the cardio vascular diseases. We work towards elevating the level of awareness among general public about the co-relation of cardiovascular diseases with environment and lifestyle. Our current focus is towards quality Research and subsequent novel pathways towards the prevention of Cardio vascular diseases.</h4>
{% endblock content %}