<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KICS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-Ogwbqwo1XmJhMj5PwqpBRv5Qg+5jIkxjaqEXwäMoP7pmzM9qCSUh:wq7iNsXLwbXkQ8LiU+ISv4yIWmXxuEtUpLor7NgvVAwIgbJ8TjvQzGU++4aB7C" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css' )}}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="ms-auto navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('page.about') }}" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('page.organ') }}" class="nav-link">Organisation</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('page.const') }}" class="nav-link">Constitution</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('page.gal') }}" class="nav-link">Gallery</a>
            </li>
          </ul>
          {% if not g.user %}
          <ul class="ms-auto navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users.login') }}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary" href="{{ url_for('users.register') }}">Register</a>
            </li>
          </ul>
          {% else %}
          <ul class="ms-auto navbar-nav">
          <li class="nav-item">
            <a href="{{ url_for('users.logout')}}" class="nav-link">Logout</a>
          </li>
          {% if  g.user['is_admin'] %}
          <li class="nav-item {% if post %}d-none{% endif %}">
            <a href="{{ url_for('blog.post_create')}}" class="nav-link btn btn-primary">Create Post</a>
          </li>
          {% if post %}
          <li class="nav-item">
            <a href="{{ url_for('blog.post_edit', slug=post.slug)}}" class="nav-link btn btn-warning">Edit Post</a>
          </li>
          {% endif %}
          {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="showcase">
  <div class="container">
    <h1 class="display-2 fw-bold">{% block page_header %}<img class="banner123" width="350px" src="{{ url_for('static', filename='banner.png' )}}">{% endblock %}</h1>
  </div>
</div>
    {% include "inc/message.html" %}
    {% block content %}{% endblock %}
    <footer class="bg-light mt-5 p-3">
      <div class="container text-center">
        <span>2024 &copy; <a class="text-primary text-decoration-none" href="{{ url_for('blog.posts') }}">KICS</a></span>
      </div>
    </footer>
    {% block js %}{% endblock js %}
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-Ogwbqwo1XmJhMj5PwqpBRv5Qg+5jIkxjaqEXwäMoP7pmzM9qCSUh:wq7iNsXLwbXkQ8LiU+ISv4yIWmXxuEtUpLor7NgvVAwIgbJ8TjvQzGU++4aB7C" crossorigin="anonymous"></script>

  </body>
</html>
